<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Onlipos" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Onlipos">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="main-header">
      <nav class="nav-container">
        <%= render "shared/header" %>
        <%= render "shared/menubar" %>
      </nav>
    </header>
    <main>
      <% if notice %>
        <div class="notice"><%= notice %></div>
      <% end %>
      <% if alert %>
        <div class="alert"><%= alert %></div>
      <% end %>
      <%= yield %>
    </main>
        <%= render "shared/footer" %>
  </body>
</html>
